#directories
.msdir
log
bin
obj
doc

# binaries
testrunner
nuclient
nuserver

# Build files
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.gch

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# Temporary Files
*~
*.swo
*.swp
\#*

#doc files
*pdf